.ipynb_checkpoints
avg_order.png
distribution_totals.png
growth_seller_base.png
net_month.png
non_repeat_summary.png
O-List Ecommerce Data - Report of Findings.pdf
O-LIst Ecommerce EDA.pdf
O-List ERD.png
O-List Funnel ERD.png
olist_closed_deals_dataset.csv
olist_customers_dataset.csv
olist_geolocation_dataset.csv
olist_marketing_qualified_leads_dataset.csv
olist_order_items_dataset.csv
olist_order_payments_dataset.csv
olist_order_reviews_dataset.csv
olist_orders_dataset.csv
olist_products_dataset.csv
olist_sellers_dataset.csv
product_category_name_translation.csv
repeat_summary.png
rev_per_deal.png
sales_by_category.png
sales_growth.png
sales_sku_growth.png
sellers_onboarded.png
time_intervals.png
time_to_sales.png
top_10_cats_percent.png